<div class="row calendar-box">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="row">
			<div class="col-xs-6 text-left">
				<div class="btn-group">
					<button class="btn btn-primary" ng-click="calendarControl.prev()">Previous</button>
					<button class="btn btn-default" ng-click="setCalendarToToday()">Today</button>
					<button class="btn btn-primary" ng-click="calendarControl.next()">Next</button>
				</div>
			</div>
			<div class="col-xs-6 text-right">
				<div class="btn-group">
					<button class="btn btn-warning" ng-click="setCalendarView('month')">Month</button>
					<button class="btn btn-warning" ng-click="setCalendarView('day')">Day</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3 class="month-title text-center">{{ calendarControl.getTitle() }}</h3>
			</div>
		</div>
		
		<div calendar calendar-view="calendarView" calendar-current-day="calendarDay" calendar-control="calendarControl" calendar-auto-open="true" clients="clients"></div>
	</div>
</div>