body {
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #efefef;
}

a {
  color: #00B7FF;
}

.error-message {
	color: red;
}

input.ng-dirty.ng-invalid{ 
	border-color:red;
}

.form-signin {
	border: 1px solid rgba(0,0,0,0.1);
	padding: 15px 35px 15px;
	background: #fff;
}

.signin {
	margin-top: 50px;
}

.user-box {
	position: relative;
	border: 1px solid #E7E7E7;
	padding: 20px !important;
	margin: 20px 0 !important;
	background-color: #F8F8F8;
	label {
		position: relative;
		display: block;
		width: 100%;
		
		strong {
			font-size: 20px;
			float: left;
		}
		small {
			float: left;
			padding: 5px 15px;
		}
		span {
			display: block;
			position: absolute;
			right: 50px;
		}
		input {
			position: absolute;
			right: 20px;
		}
	}
}

.actions-box {
	position: relative;
	border: 1px solid #E7E7E7;
	padding: 20px !important;
	margin: 20px 0 !important;
	background-color: #F8F8F8;
	.actions {
		display: block;
		position: absolute;
		top: 15px;
		right: 30px;
		a {
			margin-left: 30px;
		}
		.join {
			color: #3C763D;
		}
		.dismiss {
			color: #A94442;
		}
	}
}

@media(min-width:768px) {
	.navbar-header {
		width: 180px;
	}
}