<div class="form-group" ng-if="potentialUsers.length > 0">
	<div class="col-sm-10 col-sm-offset-2">
		<h4 class="text-center">Invite users in your domain</h4>
		<div class="checkbox user-box" ng-repeat="user in potentialUsers">
			<label>
				<strong>{{ user.name }}</strong>
				<small class="hidden-sm hidden-xs">({{ user.email }})</small>
				<span>{{ user.title }}</span>
				<input type="checkbox" ng-value="user.id" ng-click="toggleInvites(user.id)"/>
			</label>
		</div>
	</div>
</div>

<h4 class="text-center col-sm-10 col-sm-offset-2">Invite users by email address <small>(delimited by a comma)</small></h4>
<div class="form-group">
	<label for="emails" class="col-sm-2 control-label">Emails:</label>
	<div class="col-sm-10">
  		<input type="text" class="form-control" id="emails" name="emails" placeholder="Emails" ng-model="workspace.emails" />
	</div>
</div>