<!DOCTYPE html>
<html ng-app="Dagr">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/">
    <title>Dagr</title>
	<!-- build:css dist/assets/css/app.min.css -->
	<link href="/assets/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
    <link rel='stylesheet' href='assets/stylesheets/style.css' />
	<!-- endbuild -->
  </head>
  <body>
	<div ng-include="'dist/views/nav.html'">
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 border-left">
				<div ui-view></div>
			</div>
		</div>
	</div>

	<!-- build:js dist/assets/js/app.min.js -->
	<script src="assets/lib/angular/angular.js"></script>
	<script src="assets/lib/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="assets/lib/angular-resource/angular-resource.js"></script>
	<script src="assets/lib/angular-animate/angular-animate.js"></script>
	<script src="assets/lib/angular-cookies/angular-cookies.js"></script>
	<script src="angular/app.js"></script>
	<script src="angular/services.js"></script>
	<script src="angular/controllers.js"></script>
	<script src="angular/filters.js"></script>
	<script src="angular/directives.js"></script>
	<script src="angular/modules/sessions/sessionModule.js"></script>
	<script src="angular/modules/sessions/sessionServices.js"></script>
	<script src="angular/modules/sessions/sessionControllers.js"></script>
	<script src="angular/modules/workspaces/workspaceModule.js"></script>
	<script src="angular/modules/workspaces/workspaceServices.js"></script>
	<script src="angular/modules/workspaces/workspaceControllers.js"></script>
	<script src="angular/modules/users/userModule.js"></script>
	<script src="angular/modules/users/userServices.js"></script>
	<script src="angular/modules/users/userControllers.js"></script>
	<!-- endbuild -->
  </body>
</html>