<!DOCTYPE html>
<html ng-app="Dagr">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/">
    <title>Dagr</title>
	<!-- build:css dist/assets/css/app.min.css -->
    <link rel='stylesheet' href='assets/stylesheets/style.css' />
	<!-- endbuild -->
  </head>
  <body>
	<div ng-include="'dist/views/nav.html'">
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 border-left">
				<div ui-view></div>
			</div>
		</div>
	</div>
	<!-- build:js dist/assets/js/app.min.js -->
	<script src="assets/lib/jquery/dist/jquery.js"></script>
	<script src="assets/lib/moment/moment.js"></script>
	<script src="assets/lib/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
	<script src="assets/lib/angular/angular.js"></script>
	<script src="assets/lib/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="assets/lib/angular-resource/angular-resource.js"></script>
	<script src="assets/lib/angular-animate/angular-animate.js"></script>
	<script src="assets/lib/angular-cookies/angular-cookies.js"></script>
	<script src="assets/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="assets/lib/angular-strap/dist/angular-strap.js"></script>
	<script src="assets/lib/angular-strap/dist/angular-strap.tpl.js"></script>
	<script src="angular/app.js"></script>
	<script src="angular/services.js"></script>
	<script src="angular/controllers.js"></script>
	<script src="angular/filters.js"></script>
	<script src="angular/directives.js"></script>
	<script src="angular/modules/sessions/sessionModule.js"></script>
	<script src="angular/modules/sessions/sessionServices.js"></script>
	<script src="angular/modules/sessions/sessionControllers.js"></script>
	<script src="angular/modules/calendar/calendarModule.js"></script>
	<script src="angular/modules/calendar/calendarServices.js"></script>
	<script src="angular/modules/calendar/calendarControllers.js"></script>
	<script src="angular/modules/calendar/calendarDirectives.js"></script>
	<script src="angular/modules/time_entries/timeEntryModule.js"></script>
	<script src="angular/modules/time_entries/timeEntryServices.js"></script>
	<script src="angular/modules/time_entries/timeEntryControllers.js"></script>
	<script src="angular/modules/workspaces/workspaceModule.js"></script>
	<script src="angular/modules/workspaces/workspaceServices.js"></script>
	<script src="angular/modules/workspaces/workspaceControllers.js"></script>
	<script src="angular/modules/users/userModule.js"></script>
	<script src="angular/modules/users/userServices.js"></script>
	<script src="angular/modules/users/userControllers.js"></script>
	<script src="angular/modules/clients/clientModule.js"></script>
	<script src="angular/modules/clients/clientControllers.js"></script>
	<script src="angular/modules/clients/clientServices.js"></script>
	<script src="angular/modules/projects/projectModule.js"></script>
	<script src="angular/modules/projects/projectControllers.js"></script>
	<script src="angular/modules/projects/projectServices.js"></script>
	<script src="angular/modules/tasks/taskModule.js"></script>
	<script src="angular/modules/tasks/taskControllers.js"></script>
	<script src="angular/modules/tasks/taskServices.js"></script>
	<!-- endbuild -->
  </body>
</html>