<nav class="navbar navbar-inverse navbar-fixed-top" role="navbar" ng-controller="NavController">
	<div ng-show="!loggedIn">
		<div class="container">
			<div class="navbar-header">
				<p class="navbar-text h3">DAGR</p>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a ui-sref="signup" class="navbar-link">Sign Up</a></li>
					<li><a ui-sref="login" class="navbar-link">Log In</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-show="loggedIn">
		<div class="container-fluid">
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							<span ng-show="'workspaces.length > 0'">{{ workspaces[0].name }}<span class="caret"></span></span>
							<span ng-show="'workspaces.length < 1'">No workspace found</span>
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						
						<a href="#" class="navbar-link"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ name }} <span class="caret"></span></a>
					</li>
					<li><a ui-sref="logout" class="navbar-link">Log Out</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>