<div class="row"> 
	<div class="col-sm-12">
		<h3 class="text-center">Update {{ client.name }}</h3>
		<hr />
		<form name="updateClientForm" class="form-horizontal" ng-submit="updateClient()" novalidate>
			<div ng-show="invalid" class="alert alert-danger">
				<ul>
					<li ng-repeat="err in errors">{{ err }}</li>
				</ul>
			</div>
			
			<div class="form-group" ng-class="{'has-error':updateClientForm.name.$dirty && updateClientForm.name.$invalid }">
				<label for="name" class="col-sm-2 control-label">Name*:</label>
		    	<div class="col-sm-10">
		      		<input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="client.name" ng-required="true" />
					<span class="error-message" ng-show="updateClientForm.name.$dirty && updateClientForm.name.$invalid">Name is required.</span>
		    	</div>
			</div>
			
			<div class="form-group">
		    	<div class="col-sm-offset-2 col-sm-2">
		      		<p><button type="submit" class="btn btn-lg btn-primary" ng-disabled="updateClientForm.$invalid">Submit</button></p>
					<p><small>*required</small></p>
		    	</div>
			</div>
		</form>
	</div>
</div>