<!DOCTYPE html>
<html ng-app="Dagr">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/">
    <title><%= title %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<% include nav %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

	<script src="angular/lib/angular.js"></script>
	<script src="angular/lib/angular-ui-router.js"></script>
	<script src="angular/lib/angular-resource.js"></script>
	<script src="angular/lib/angular-animate.js"></script>
	<script src="angular/lib/angular-cookies.js"></script>
	<script src="angular/app.js"></script>
	<script src="angular/services.js"></script>
	<script src="angular/controllers.js"></script>
	<script src="angular/filters.js"></script>
	<script src="angular/directives.js"></script>
  </body>
</html>
